################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ReelerGameSimulator/.vs/ReelerGameSimulator
/ReelerGameSimulator/ReelerGameSimulator/obj
